body {
    background: content-box linear-gradient(#D4EE9F, #7B9F35);
    background-image: url('../images/tunari.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

p {
    color: #D4A26A;
}
a {
    color: #552C00;
    text-decoration: none;
}
li {
    font-size: 24px;
    background: rgba(0, 0, 0, 0.2);
    list-style-image: url('images/garra.png');
}

.menu-item li {
    color: red; 
    /* visibility: hidden; */
    display: none;
}

#frase {
    color: green;
}

.fondo-gradiente {
    
}
